@font-face {
  /* font-family: 'custom-icons'; */
  src:  url('fonts/custom-icons.eot?nksysv');
  src:  url('fonts/custom-icons.eot?nksysv#iefix') format('embedded-opentype'),
    url('fonts/custom-icons.ttf?nksysv') format('truetype'),
    url('fonts/custom-icons.woff?nksysv') format('woff'),
    url('fonts/custom-icons.svg?nksysv#custom-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* font-family: 'custom-icons' !important; */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paper-plane-o:before {
  content: "\e907";
}
.icon-send-o:before {
  content: "\e907";
}
.icon-heart-o:before {
  content: "\e908";
}
.icon-heart:before {
  content: "\e909";
}
.icon-bookmark-o:before {
  content: "\e90a";
}
.icon-bookmark:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\f007";
}
.icon-home:before {
  content: "\f015";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-bell:before {
  content: "\f0f3";
}
.icon-edit:before {
  content: "\e905";
}
.icon-pencil:before {
  content: "\e906";
}
.icon-compass:before {
  content: "\e949";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-attachment:before {
  content: "\e900";
}
.icon-add-circle:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-add-profile:before {
  content: "\e903";
}
.icon-add:before {
  content: "\e904";
}
